:root {
	// font-size: 10px;

	body {
	margin: 0;
		#root {
			min-height: 100vh;
			background: #EEE;

			$theme-colors: (
			    "primary": #F5CC0A,
			    "secondary-analogous": #A8F50A,
			    "tertiary-analogous": #F5570A
			);

			#loading-screen {
				background: #F5CC0A;
				width: 100vw;
				height: 100vh;
				position: fixed;
				z-index: 999;
				justify-content: center;

				.loading-icon {
					position: absolute;
					// left: 50%;
					top: 50%;
					// transform: translateX(-50%);
					transform: translateY(-50%);
				}
			}

			.navbar-brand-custom {
				font-size: 24px !important;
			}

			.navbar-custom {
				padding: 16px 64px !important;
				display: flex !important;
				justify-content: space-between !important;
			}

			#basic-navbar-nav {
				.mr-auto {
					font-size: 16px !important;
				}
			}

			#login-section{
				height: 768px;
				width: 100%;
				display: flex;
				

				.form-container {
					position: absolute;
					top: 50%;
					margin-top: -137.5px;
					left: 50%;
					margin-left: -223px;
					max-width: 446px;
					// max-height: 275px;
				}

				.btn {
					display: block;
					width: 100%;
				}
			}
			@import "../node_modules/bootstrap/scss/bootstrap.scss";
		}
	}
}
